<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="skt1.ansboard">


	<select id="boardlistpaging" resultType="ansDto" parameterType="String">
		SELECT RN,SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,DELFLAG
     	 FROM(
      	SELECT ROW_NUMBER() OVER (ORDER BY REFER,STEP) AS RN,SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,DELFLAG FROM M_BOARD      	 
     
	     	 )       	
      	WHERE CEIL(RN/10) = #{pnum}
	</select>

	<select id="pcount" resultType="int">
		SELECT CEIL(COUNT(*)/10) FROM M_BOARD
	</select>


	<sql id="a">
		SELECT SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,DELFLAG 
		FROM M_BOARD 
	</sql>

	<select id="boardlist" resultType="ansDto" parameterType="Map">
		<include refid="a"/>
		<where>
			<if test="seq!=null">
				SEQ=#{seq}					
			</if>
		</where>
		ORDER BY REFER,STEP 
	</select>
	
	<select id="getboard" parameterType="int">
		<include refid="a"/>
		WHERE SEQ=#{seq}
	</select>
	
	<insert id="insertboard" parameterType="ansDto">
		INSERT INTO M_BOARD (SEQ,ID,TITLE,CONTENT,REGDATE,REFER,
		STEP,DEPTH,READCOUNT,DELFLAG) 
		VALUES(M_BOARD_SEQ.NEXTVAL,#{id},#{title},#{content},SYSDATE, 
		(SELECT NVL(MAX(REFER)+1,0) FROM M_BOARD ),0,0,0,'N')
	</insert>
	
	<update id="updateboard" parameterType="ansDto">
		UPDATE M_BOARD SET TITLE=#{title},CONTENT=#{content},REGDATE=SYSDATE 
		WHERE SEQ=#{seq} 
	</update>		
	
	<update id="muldel" parameterType="Map">
		UPDATE M_BOARD SET DELFLAG='Y' WHERE SEQ IN 
		<foreach collection="seqs" item="seq" open="(" close=")" separator=",">
			#{seq}
		</foreach>
	</update>
	
	<update id="readcount" parameterType="int">
		<![CDATA[
		UPDATE M_BOARD SET READCOUNT=READCOUNT+1
		WHERE SEQ=#{seq} 
		]]>
	</update>
	
	<update id="replyupdate" parameterType="ansDto">
		<![CDATA[
			UPDATE M_BOARD SET STEP=STEP+1
			WHERE REFER=(SELECT REFER FROM M_BOARD WHERE SEQ=#{seq})
			AND STEP > (SELECT STEP FROM M_BOARD WHERE SEQ=#{seq})		
		]]>
	</update>
	<insert id="replyinsert" parameterType="ansDto">
		INSERT INTO M_BOARD 
		VALUES(M_BOARD_SEQ.NEXTVAL,#{id},#{title},#{content},SYSDATE, 
		(SELECT REFER FROM M_BOARD WHERE SEQ=#{seq}), 
		(SELECT STEP FROM M_BOARD WHERE SEQ=#{seq})+1, 
		(SELECT DEPTH FROM M_BOARD WHERE SEQ=#{seq})+1,0,'N')
	</insert>
	
	<select id="contentAjax" parameterType="int" resultType="ansDto">
		SELECT CONTENT FROM M_BOARD WHERE SEQ=#{seq}
	</select>
</mapper>








