<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="skt1.calboard">
	
	<resultMap type="skt1.dtos.CalDto" id="calDtoMap">
		<result property="seq" column="SEQ" />
		<result property="id" column="ID" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="mdate" column="MDATE" />
		<result property="regDate" column="REGDATE" />
		<result property="teamname" column="TEAMNAME" />
		<result property="ourscore" column="OURSCORE" />
		<result property="otherscore" column="OHTERSCORE" />
	</resultMap>
	
	<select id="getCalList" parameterType="Map" resultMap="calDtoMap">
		SELECT SEQ,ID,TITLE,CONTENT,MDATE,REGDATE,TEAMNAME,OURSCORE,OTHERSCORE
		FROM M_CALBOARD WHERE SUBSTR(MDATE,1,8)=#{yyyyMMdd}
	</select>
	
	<insert id="insertCal" parameterType="calDto">
		INSERT INTO M_CALBOARD VALUES(M_CALBOARD_SEQ.NEXTVAL,#{id},#{title},#{content},
		#{mdate},SYSDATE,#{teamname},#{ourscore},#{otherscore})
	</insert>
	
	<delete id="muldel" parameterType="Map">
		DELETE FROM M_CALBOARD WHERE SEQ IN
		<foreach collection="seqs" item="seq" open="(" close=")" separator=",">
			#{seq}
		</foreach>
	</delete>
	
	<select id="caldetail" parameterType="int" resultMap="calDtoMap">
		SELECT SEQ,ID,TITLE,CONTENT,MDATE,REGDATE,TEAMNAME
		FROM M_CALBOARD WHERE SEQ=#{seq}
	</select>
	
	<update id="calupdate" parameterType="calDto">
		UPDATE M_CALBOARD SET TITLE=#{title}, CONTENT=#{content},MDATE=#{mdate},
		REGDATE=SYSDATE, TEAMNAME=#{teamname}, OURSCORE=#{ourscore}, OTHERSCORE=#{otherscore} WHERE SEQ=#{seq}
	</update>
	
	<select id="calviewlist" parameterType="String" resultMap="calDtoMap">
	SELECT SEQ, ID, TITLE, CONTENT, MDATE, REGDATE , TEAMNAME, OURSCORE,OTHERSCORE
	FROM M_CALBOARD WHERE SUBSTR(MDATE,1,6)=#{yyyyMM}
	</select>
	

	
</mapper>
