<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="skt1.loginboard">
	<insert id="insertuser" parameterType="loginDto">
		INSERT INTO M_USER VALUES(#{id},#{password},#{name},#{address},
		#{phone},#{email},'USER')
	</insert>
	
	<insert id="insertadmin" parameterType="loginDto">
		INSERT INTO M_USER VALUES(#{id},#{password},#{name},#{address},
		#{phone},#{email},'WAIT')
	</insert>
	
	<select id="Login" parameterType="Map" resultType="loginDto">
		SELECT ID,PASSWORD,NAME,ADDRESS,PHONE,EMAIL,ROLE
		FROM M_USER WHERE ID=#{id} AND PASSWORD=#{password}
	</select>
	
	<select id="userinfo" parameterType="String" resultType="loginDto">
		SELECT ID,NAME,ADDRESS,PHONE,EMAIL,ROLE
		FROM M_USER WHERE ID=#{id}
	</select>
	

	<update id="updateinfo" parameterType="Map">
		UPDATE M_USER SET ADDRESS=#{address},PHONE=#{phone},EMAIL=#{email}
		WHERE ID=#{id} 
	</update>
	
	<select id="alluserlist" resultType="loginDto">
		SELECT ID,NAME,ADDRESS,PHONE,EMAIL,ROLE
		FROM M_USER
	</select>
	
	<select id="idChk" parameterType="String" resultType="loginDto">
		SELECT ID FROM M_USER WHERE ID=#{id}
	</select>
	
	<select id="loginChk" parameterType="Map" resultType="loginDto">
		SELECT ID,PASSWORD FROM M_USER WHERE ID=#{id} AND PASSWORD=#{password}
	</select>
	
	<update id="Pwch" parameterType="Map">
		UPDATE M_USER SET PASSWORD=#{password} WHERE ID=#{id}
	</update>
	
	<select id="pwinfo" parameterType="String" resultType="loginDto">
		SELECT ID,PASSWORD
		FROM M_USER WHERE ID=#{id}
	</select>
		<update id="changePw" parameterType="Map">
		UPDATE M_USER SET PASSWORD=#{newPwd} WHERE ID=#{id}
	</update>
	
	<select id="searchid" parameterType="Map" resultType="String">
		SELECT ID FROM M_USER WHERE NAME=#{name} AND PHONE=#{phone}
	</select>
	
	<select id="searchadmin" resultType="loginDto">
		SELECT ID,PASSWORD,NAME,ADDRESS,PHONE,EMAIL,ROLE
		FROM M_USER WHERE ROLE='WAIT'
	</select>
	
	<update id="adminsignup" parameterType="String">
		UPDATE M_USER SET ROLE='ADMIN' WHERE ID=#{id}
	</update>
</mapper>








